In [3]:
import pandas as pd
import numpy as np

dfs = []
for i in range(2017,2022):
    dfs.append(pd.read_csv(f"{i}_lake_data.csv"))

df = pd.concat(dfs)
df
df.to_csv('combined_lake_data.csv', index=False)

In [5]:
# Supprimer les doublons en fonction de certaines colonnes
df = df.drop_duplicates(subset=['STN Code', 'Name of Monitoring Location'])

# Vérifier si les doublons ont été supprimés
print(df)

     STN Code                        Name of Monitoring Location  \
0      1790.0                    PULICATE LAKE , NELLORE \nDIST.
1      2353.0  KONDACHARLA-AAVA LAKE, \nPARAWADA PHARMA CITY,...
2      2205.0                     MER BEEL AT MADHABPUR, \nASSAM
3      2206.0                DALONI BEEL NEAR \nJOGIGHOPA, ASSAM
4      1263.0  ELANGABEEL SYSTEM POND \n(CONNECTED TO R. KOLA...
..        ...                                                ...
579    3086.0               SAKI TANK, PATANCHERU, RANGA \nREDDY
587    4643.0                       RUDRASAGAR EAST LAKE TRIPURA
588    4642.0                      RUDRASAGAR NORTH LAKE,TRIPURA
589    4644.0                       RUDRASAGAR WEST LAKE TRIPURA
606    1362.0      NAINI LAKE AT NAINITAL (WATER \nINTAKE POINT)

    Type Water Body        State Name Min Temperature Max Temperature  \
0              LAKE  ANDHRA \nPRADESH            27.0            28.0
1              LAKE  ANDHRA \nPRADESH            24.0            28.0
2              LAKE             ASSAM            20.0            27.0
3              LAKE             ASSAM            22.0            36.0
4              POND             ASSAM            22.0            34.0
..              ...               ...             ...             ...
579            TANK         TELANGANA            18.0            23.0
587            LAKE           TRIPURA            18.0            29.0
588            LAKE           TRIPURA            18.0            29.0
589            LAKE           TRIPURA            18.0            29.0
606            LAKE       UTTARAKHAND             9.0            22.0

    Min Dissolved Oxygen Max Dissolved Oxygen Min pH Max pH Min Conductivity  \
0                    5.1                  6.9    7.1    8.5           3270.0
1                    5.9                  6.8    6.9    8.4            597.0
2                    2.2                  7.2    5.7    7.0             50.0
3                    5.1                  6.0    6.6    7.8             54.0
4                    0.7                  4.6    6.8    8.4            263.0
..                   ...                  ...    ...    ...              ...
579                  5.2                  6.6    6.8    7.5              689
587                  5.2                  6.3    7.1    7.5              152
588                  5.3                  6.9    6.9    7.3              148
589                  5.6                  6.5    7.0    7.7              129
606                  7.6                  9.6    7.2    7.8              370

    Max Conductivity Min BOD Max BOD Min Nitrate N + Nitrite N  \
0           156600.0     1.0     2.3                      0.65
1             1034.0     1.3     2.3                      1.16
2              128.0     1.0    16.2                       0.1
3              153.0     0.9     2.8                       0.1
4              972.0     4.5    14.7                       0.8
..               ...     ...     ...                       ...
579             1180     3.0     6.2                      6.16
587              203     1.0     1.9                      0.74
588              206     1.4     2.3                      0.72
589              181     1.0     2.1                      0.73
606              440     1.0     2.0                      0.32

    Max Nitrate N + Nitrite N Min Fecal Coliform Max Fecal Coliform  \
0                         6.9                2.0                2.0
1                        3.36               11.0               29.0
2                         1.7              300.0             2000.0
3                         1.4              300.0             1200.0
4                         5.7             1100.0             3500.0
..                        ...                ...                ...
579                     14.10                  6                 11
587                      2.73                 21                 58
588                      3.50                 27                 84
589                      2.73                 25                 63
606                      0.36                140                350

    Min Total Coliform Max Total Coliform
0                800.0             1600.0
1                350.0             2400.0
2                360.0             6400.0
3                300.0             5300.0
4                730.0            21000.0
..                 ...                ...
579                 34                 48
587                 94                220
588                150                280
589                150                280
606                350                920

[1203 rows x 20 columns]

In [6]:
df.to_csv('combined_lake_datanoduplicate.csv', index=False)